{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col col-lg-8 mx-auto">
        {% for post in object_list %}
            {% include "blog/list-inline.html" with post=post %}
        {% endfor %}
    </div>

    <div class="col col-lg-4 mx-auto">
        <h1>[å storme]</h1>
        <p>Jeg er Jon-Martin, byråkrat og cybersikkerhetsentusiast.</p>
        <p>Du har nå kommet over min lille verden der jeg legger ut ting jeg surrer med om cybersikkerhet, teknologi, prosjekter og alt mulig annet.</p>
    </div>
</div>
{% endblock %}
