{% load markdown_deux_tags %}
<div class="card mb-3">
    {% if post.image %}
    <img src="{{post.image.url}}" class="card-img-top" style="width:100%;object-fit:cover;height:20vh">
    {% else %}
    <div class="card-header">
        Post
    </div>
    {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ post.author.get_full_name }}</h6>
    <p class="card-text">{{ post.content|markdown|truncatewords_html:30 }}</p>
    <a href="{% url 'blog:post-detail' slug=post.slug %}" class="card-link">Les mer</a>
  </div>
  <div class="card-footer text-muted">
    Publisert {{ post.publish_date|date:"jS M Y" }} - Sist oppdatert {{ post.updated|timesince }} siden
  </div>
</div>
