{% load markdown_deux_tags %}
<div class="card mb-3">
    {% if post.header_image %}
    <img src="{{post.header_image.image.url}}" class="card-img-top" style="width:100%;object-fit:cover;height:20vh">
    {% else %}
    <div class="card-header">
        Post
    </div>
    {% endif %}
  <div class="card-body">
    <h1 class="card-title">{{ post.title }}</h1>
    <p class="card-subtitle text-muted">{{ post.author.get_full_name }} - publisert {{ post.publish_date|date }}, sist endret for {{ post.updated|timesince }} siden</p>
    <p>{{ post.content|markdown|truncatewords_html:50 }}</p>
    <p><small class="font-weight-bold text-uppercase">
      {% for category in post.categories.all %}
          <span style="padding-right:10px">{{ category }}</span>
      {% endfor %}
    </small></p>
    <a href="{% url 'blog:post-detail' slug=post.slug %}" class="card-link">Les mer</a>
  </div>
</div>
