{% extends "base.html" %}
{% block head %}{{ form.media }}{% endblock %}
{% block head_title %}{{ title }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}
<div class="row">
    <div class="col-8 mx-auto">
        <h1>Update post</h1>
        <p>Author: {{ object.author }}</p>
        <form method="POST">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-dark">Oppdater</button>
        </form>
    </div>
    <div class="col-4 mx-auto">
      {% markdown_cheatsheet %}
    </div>
</div>

{% endblock %}
